@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,800&display=swap');


:root {
  --primary-color: #1F2022;
  --overlay-color: rgba(170, 181, 176 , 0.95);
  --medium-color: #9E9E9E;
  --light-color: #E5E5E5;
  --white-color: #FFF;
  --light-green: #86928A;
  --menu-speed: 0.75s;
}

html, body {
  height: 100%;
}

body {
  background: var(--light-color);
  color: var(--primary-color);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  > div {
    height: 100%;
  }
}

main {
  min-height: 100%;
  position: relative;
  >div {
    margin-bottom: 50px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  margin: 110px 60px;
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div {
    max-width: 720px;
    &:nth-child(2) {
      padding-right: 50px;
    }
    p {
      font-size: 2rem;
    }
  }
}

.subtext, .sidetext {
  display: block;
}

.subtext {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  >div {
    max-width: 45%;
    position: relative;
  }
  &.header-subtext {
    color: var(--medium-color);
    height: 630px;
    top: -70px;
    > div {
      &::after {
        content: "Your paint is the way you make us feel like we're enough.";
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
        bottom: 0;
        left: -16px;
      }
    }
  }
  &.projects-subtext {
    color: var(--white-color);
    top: 30px;
    left: -50px;
  }
}

.sidetext {
  width: 100%;
  height: 460px;
  position: absolute;
  >div {
    color: var(--medium-color);
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    p {
      position: absolute;
      transform: rotate(-90deg);
    }
    &::after {
      content: '[they/them]';
      position: absolute;
      transform: rotate(90deg);
      right: 0;
    }
  }
}

.header-img {
	clip-path: path('M210.5 160.5C210.5 204.737 198.713 244.764 179.682 273.716C160.648 302.672 134.411 320.5 105.5 320.5C76.5895 320.5 50.3517 302.672 31.3181 273.716C12.2872 244.764 0.5 204.737 0.5 160.5C0.5 116.263 12.2872 76.2362 31.3181 47.284C50.3517 18.3276 76.5895 0.5 105.5 0.5C134.411 0.5 160.648 18.3276 179.682 47.284C198.713 76.2362 210.5 116.263 210.5 160.5Z');
	height: 345px;
	z-index: 0;
  margin-top: 100px;
  margin-left: 32px;
}


.header-img-text {
	font-size: 4rem;
	text-transform: uppercase;
  color: var(--white-color);
  margin-top: -260px;
}

.char {
	z-index: 1;
  &:first-child {
    --offset: calc(1 * 3rem);
  }
  &:nth-child(2) {
    --offset: calc(2 * 3rem);
  }
  &:nth-child(3) {
    --offset: calc(3 * 3rem);
  }
  &:nth-child(4) {
    --offset: calc(4 * 3rem);
  }
  &:nth-child(5) {
    --offset: calc(5 * 3rem);
  }
  &:nth-child(6) {
    --offset: calc(6 * 3rem);
  }
  &:nth-child(7) {
    --offset: calc(7 * 3rem);
  }
  &:last-child {
    --offset: calc(8 * 3rem);
  }
	offset-path: path('M272.5 195.5C272.5 249.396 257.246 298.168 232.61 333.453C207.973 368.74 173.985 390.5 136.5 390.5C99.0151 390.5 65.0272 368.74 40.3899 333.453C15.7537 298.168 0.5 249.396 0.5 195.5C0.5 141.604 15.7537 92.8317 40.3899 57.5469C65.0272 22.2604 99.0151 0.5 136.5 0.5C173.985 0.5 207.973 22.2604 232.61 57.5469C257.246 92.8317 272.5 141.604 272.5 195.5Z');
	offset-distance: var(--offset);
	position: absolute;
	animation: move1 30s infinite linear var(--delay, 0ms);
	vertical-align: top;
}

.header-img-text {
  &:nth-child(2) {
    .char {
			offset-distance: calc(var(--offset) + 525px);
	animation: move2 30s infinite linear var(--delay, 0ms);
    }
  }
}

.projects-container {
  margin-top: 160px;
  margin-left: -8px;
  padding: 100px 50px;
  width: 100vw;
  display: flex;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  background: var(--light-green);
  text-transform: uppercase;
  position: relative;
}

.project-name-a {
  position: relative;
}

.project-name-a,
.project-name-b {
  display: flex;
  color: var(--primary-color);
  white-space: nowrap;
  font-size: 4rem;
  transition: all 0s;
  &:before {
    content: attr(pseudo-content);
    color: var(--white-color);
    right: 100%;
  }
}

@keyframes move1 {
	100% {
		offset-distance: calc(var(--offset) + 1049px);
	}
}

@keyframes move2 {
	100% {
		offset-distance: calc(var(--offset) + 1572px);
	}
}

@media screen and (max-width: 992px) {
  .header {
    display: flex;
    div:first-child {
      display: none;
    }
    div {
      &:nth-child(2) {
        padding: 0;
        p {
          font-size: 1.5rem;
        }
      }
      max-width: 100%;
    }
  }
  .subtext, .sidetext {
    display: none;
  }
}